html{
  font-size: 62.5%;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #0082e6;
  height: 8rem;
  width: 100%;
}
nav ul{
  float: right;
  margin-right: 2rem;
}
nav ul li{
  display: inline-block;
  line-height: 8rem;
  margin: 0 .5rem;
}
nav ul li a{
  color: white;
  font-size: 1.7rem;
  padding: .7rem 1.3rem;
  border-radius: .3rem;
  text-transform: uppercase;
}
a:hover{
  background: #1b9bff;
  transition: .5s;
}
  
  .packages .box-container .box{
    flex:.1rem .1rem 4rem;
    border-radius: .05rem;
    overflow: hidden;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,.1);
    border-radius: 5%;
    padding-right: .5rem;
    padding-bottom: 2rem;
  }
  
  .packages .box-container .box img{
    height: 15rem;
    width:100%;
    object-fit: cover;
    padding-bottom: 2.5rem;
  }
  
  .packages .box-container .box .content{
    padding: 0.5rem;
  }
  
  .packages .box-container .box .content h3{
    font-size:1.5rem;
    text-transform: uppercase;
    color:rgb(43, 2, 2);
    text-align: center;
  }
  
  .packages .box-container .box .content h3 img{
    color:var(--orange);
  }
  
  .packages .box-container .box .content p{
    font-size:1.5rem;
    color:rgb(24, 5, 77);
    text-align: center;
  }
  
  .packages .box-container .box .content img{
    font-size:1rem;
    color:var(--orange);
  }
  
  .packages .box-container .box .content .price{
    font-size: 1.5rem;
    color:rgb(22, 5, 5);
    padding-top: .5rem;
  }
  
.packages .box-container .box .content .price span{
    color:rgb(43, 15, 15);
    font-size: 1.5rem;
    text-decoration: line-through;
}
.content .btn{
  align-items: center;
  text-transform: uppercase;
  display: inline-block;
  background: linear-gradient(45deg, #04070c, rgb(48, 134, 247));
  border-radius: .6rem;
  padding: .8rem 1.5rem;
  text-decoration: none;
  color: rgb(246, 247, 250);
  box-shadow: .4rem .8rem 2.2rem rgba(70, 53, 97, 0.15);
}
  .heading{
    text-align: center;
    text-transform: uppercase;
    padding: 2.5rem 0;
}
.heading span{
    font-size: 3.5rem;
    background-color: rgba(0, 225, 255, 0.61);
    color: white;
    border-radius: 5rem;
    padding: 2rem 1rem;
} 


@media(max-width:998px) {
  html{
      font-size: 55%;
  }
}

@media(max-width:768px) {
html{
    font-size: 45%;
}
}

@media(max-width:480px) {
  html{
      font-size: 35%;
  }
}